.header-profile {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    

    .user-shopping-cart {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 0;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 0;
        border: solid 2px white;
        padding: 2px;
        text-decoration: none;
        .fa-solid{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            padding-right: 2px;
            padding-top: 2px;
            border-radius: 50%;
            font-size: 20px;
        }

        
    }

    .user-profile-pic {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        font-size: 0;
        border: solid 2px white;
        padding: 2px;

        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }

    .dropdown {
        display: flex;
    }

    .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        li {
            .dropdown-item {
                padding: 10px 15px;
                &:hover {
                    background-color: var(--primary);
                    color: white;
                }
            }
        }
    }
}